* {
	font-family: Verdana;
}

#abs-div-1 {
	position: absolute;
	width: 600px;
	height: 150px;
	background-color: green;
	color: white;

	top: 200px;
	left: 200px;
}

#abs-div-2 {
	position: absolute;
	width: 600px;
	height: 150px;
	background-color: orange;
	color: white;

	top: 100px;
	left: 100px;
}
