* {
	font-family: Verdana;
}

#abs-div-1 {
	position: absolute;
	width: 600px;
	height: 150px;
	background-color: green;
	color: white;

	top: 200px;
	left: 200px;
}

#abs-div-2 {
	position: absolute;
	width: 600px;
	height: 150px;
	background-color: orange;
	color: white;

	top: 100px;
	left: 100px;
}

#relative-examples {
	position: absolute;
	top: 400px;
}

#normal {
	width: 300px;
	height: 200px;
	background-color: black;
	color: #fff;
}

#rel-div-1 {
	position: absolute;
	width: 600px;
	height: 150px;
	background-color: green;
	color: white;

	top: 100px;
	left: 200px;
}

#rel-div-2 {
	position: absolute;
	width: 600px;
	height: 150px;
	background-color: orange;
	color: white;

	top: 100px;
	left: 100px;
}
