div {
	font-family: Verdana;
	color: grey;
}

#normal-static-div {
	width: 300px;
	height: 300px;
	background-color: #779ECB;
	color: white;
}

#relative-element-1 {
	position: relative;
	top: 25px;
	left: 25px;
	width: 600px;
	height: 150px;
	background-color: #FFB347; /* Pastel Orange */
}

#static-element-2 {
	width: 800px;
	height: 300px;
	background-color: #ADDFAD;
}

#relative-element-3 {
	position: relative;
	top: 0px;
	left: 400px;
	width: 400px;
	height: 250px;
	background-color: #FFE4CD; /* Lumber */
}
